body {
  background-color: #000000;
  color: #087d16;
  text-align: center;
  font-size: 18px;
  font-family: monospace;
  padding-top: 5%;
  word-wrap: break-word;
}

.logo {
  width: 250px;
  height: 250px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 10%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.Blockchain, .ConductTransaction, .TransactionPool {
  margin: 10%;
  margin-top: 5%;
}

a, a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

input, button {
  color: black;
  background-color: #087d16;
}
/* In App.css or your main CSS file */
.btn-danger {
  background-color:red  !important; /* new background color */
  border-color:white !important;     /* new border color */
  color: white !important;              /* optional text color */
}

.btn-danger:hover {
  background-color: #087d16 !important; /* hover effect */
  border-color: white !important;
}

.nav-link{
  color:  red; /* or any color you want */
  text-decoration: none; /* optional: removes underline */
}

.nav-link:hover {
  color: #087d16; /* hover color */
  text-decoration: underline; /* optional */
}